.cabecalho .cabecalhoPrincipal .CabecalhoLogo-Nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.cabecalho-nav {
    display: flex;
}

.cabecalho {
    display: flex;
    flex-direction: column;
}

.CabecalhoLogo-Nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.cabecalho-nav {
    display: flex;
    flex-grow: 1;
    justify-content: center;
}