body {
    background-color: white;
    font-family: 'Open Sans',Arial,sans-serif;
}

.logo {
    margin-top: 23px;
}

.cabecalho {
    background-color: #54ff65;
}

.cabecalhoPrincipal {
    background-color: #29a32c;
}

.CabecalhoLogo-Nav{
    width: 89%;
    margin: -35px auto;
}

.cabecalho-link {
    padding: 0 4em;
    color: white;
    text-decoration: none;
    display: block;
    text-transform: uppercase;
    font-family: 'Bebas Neue', cursive;
    font-size: 20px;
    transition: 0.5s all;
}

.cabecalho-link:hover {
    color: rgb(0, 49, 4);
    font-size: 22px;
}

.ultimoLink {
    padding-right: 0;
}

.cabeçalhoSecundario {
    margin: 0 ;
}

.contatoCabecalho {
    font-size: 40px;
}

.cabecalhoLogin {
    width: 70%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.cabecalhoLogin p {
    font-family: 'Bebas Neue', cursive;
    font-size: 20px;
}

.loginLink {
    text-decoration: none;
    color: rgb(0, 0, 0);
    font-size: 24px;
    font-weight: bold;
    transition: 0.5s all;
}

.loginLink:hover {
    text-decoration: underline;
    color: rgb(1, 95, 17);
}

.loginPrincipal {
    width: 75%;
    height: 961px;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}

.paiLogin {
    height: 80%;
}

.boxLogin {
    width: 560px;
    height: 600px;
    background-color: #6ef833;
    border-radius: 4em;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}

.input-padrao {
    width: 450px;
    padding: 10px 0;
    border-radius: 8px;
    border: 2px solid black;
    margin-top: 5px;
    font-size: 20px;
}

.enviar {
    width: 450px;
    padding: 14px 0;
    background-color:#29a32c;
    color: white;
    font-weight: bold;
    font-size: 22px;
    border-radius: 20px;
    transition: 0.5s ;
    cursor: pointer;
    margin-top: 5px;
    border: 3px solid white;
}

.enviar:hover {
    background-color: darkgreen;
    transform: scale(1.05);
}

.entrarSeupet {
    margin-top: 1em;
}

.telaLogin {
    background: url(imagens/telainicial-vazio.jpg);
}

@media (max-width: 1920px) {
    .telaLogin {
        background: no-repeat url(imagens/bg-telainicial.jpg);
    }
}

@media (max-width: 1800px) {
    .telaLogin {
        background: center url(imagens/bg-telainicial1800.jpg);
    }
}

@media (max-width: 1500px) {
    .CabecalhoLogo-Nav {
        text-align: center;
    }
    .cabecalho-link {
        padding: 1px 3em;
        color: white;
        text-decoration: none;
        display: block;
        text-transform: uppercase;
        font-family: 'Bebas Neue', cursive;
        font-size: 20px;
    }

    .loginPrincipal {
        justify-content: center;
        align-items: center;
        flex-direction: column;
        text-align: center;
    }

    .telaLogin {
        background: center url(imagens/bg-telainicial1500.jpg);
    }
}

@media (max-width: 1400px) {
    .CabecalhoLogo-Nav {
        text-align: center;
    }
    .cabecalho-link {
        padding: 1px 2em;
        color: white;
        text-decoration: none;
        display: block;
        text-transform: uppercase;
        font-family: 'Bebas Neue', cursive;
        font-size: 20px;
    }
}

@media (max-width: 1150px) {
    .CabecalhoLogo-Nav {
        text-align: center;
    }
    .cabecalho-link {
        padding: 1px 1em;
    }
    .telaLogin {
        background: url(imagens/telainicial-vazio.jpg);
    }
}

@media (max-width: 920px) {
    .CabecalhoLogo-Nav {
        flex-direction: column;
        text-align: center;
    }
    .cabecalho-nav {
        flex-direction: column;
        margin-bottom: 3em;
    }
    .cabecalhoLogin {
        justify-content: center;
    }

    .boxLogin {
        width: 350px;
        height: 450px;
    }

    .input-padrao {
        width: 300px;
    }
    
    .enviar {
        width: 300px;
    }

    .paiLogin {
        display: flex;
        height: 80%;
        align-items: center;
    }

    .telaLogin {
        background: url(imagens/telainicial-vazio.jpg);
    }
}