
/* ------------------------Header-------------------------- */

.logo:hover{
    opacity: 0.9 ;
}


.cabecalho {
    background-color: #54ff65;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.cabecalhoSecundario {
    margin: 0 ;
    display: flex;
    justify-content: center;
}

.cabecalhoLogin {
    width: 70%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.cabecalhoLogin p {
    font-family: 'Bebas Neue', cursive;
    font-size: 20px;
}

.cabecalhoLogout {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: black;
    font-family: 'Bebas Neue', cursive;;
    font-size: 24px;
    transition: 0.5s all;
}
.cabecalhoLogout:hover {
    text-decoration: underline;
    color: rgb(1, 95, 17);
}

.loginLink {
    text-decoration: none;
    color: rgb(0, 0, 0);
    font-size: 24px;
    font-weight: bold;
    transition: 0.5s all;
}

.loginLink:hover {
    text-decoration: underline;
    color: rgb(1, 95, 17);
}

.cabecalhoPrincipal {
    background-color: #29a32c;
}

.CabecalhoLogo-Nav{
    width: 89%;
    margin: -35px auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    margin-top: 23px;
}

.cabecalho-nav {
    display: flex;
    flex-grow: 1;
    justify-content: center;
}

.cabecalho-link {
    padding: 0 4em;
    color: white;
    text-decoration: none;
    display: block;
    text-transform: uppercase;
    font-family: 'Bebas Neue', cursive;
    font-size: 20px;
    transition: 0.5s all;
}

.cabecalho-link:hover {
    color: rgb(0, 49, 4);
    font-size: 21px;
}

.ultimoLink {
    padding-right: 0;
}


/*----------------------------------------------------------*/

/*---------------------Footer-----------------------*/

.footer {
    background-color: #29a32c;
    max-width: 100%;
    height: 75px;    
    font-family: 'Bebas Neue', cursive;
    color: white;
    height: 150px;
}

.footerLogo {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footerLogo img {
    height: 50px;
}


.footerInfo {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footerInfoConteudo {
    margin-top: 1em;
    text-decoration: none;
    color: white;
    transition: 0.2s;
}

.footerInfoClicando:hover {
    color: black;
}

/*----------------------------------------------------------*/

/*---------------------Login/register-----------------------*/

.telaLogin {
    display: flex;
    justify-content: center;
    background: url(imagens/telainicial-vazio.jpg);
}

.loginPrincipal {
    width: 75%;
    height: 961px;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}

.paiLogin {
    height: 80%;
}

.boxLogin {
    width: 560px;
    height: 600px;
    background-color: #6ef833;
    border-radius: 4em;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}

.input-padrao {
    width: 420px;
    padding: 10px 15px;
    border-radius: 8px;
    border: 2px solid white;
    margin-top: 5px;
    font-size: 20px;
}

.entrarSeupet {
    margin-top: 1em;
}

.enviar {
    width: 450px;
    padding: 14px 0;
    background-color:#29a32c;
    color: white;
    font-weight: bold;
    font-size: 22px;
    border-radius: 20px;
    transition: 0.5s ;
    cursor: pointer;
    margin-top: 5px;
    border: 3px solid white;
}

.enviar:hover {
    background-color: darkgreen;
    transform: scale(1.05);
}

/*---------------------------------------------------------------*/

/*--------------------------Home---------------------------------*/

.mainHome {
    background: url(imagens/bg-home-vazio.jpg) fixed;
    display: flex;
    justify-content: center;
}

.todosPosts {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: white;
}

.posts {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    width: 50%;
}

.user {
    font-size: 34px;
    font-family: 'Bebas Neue', cursive;
    font-weight: bold;
    margin: 1em 0 10px 0;
}

.postImagem {
    border-radius: 10px;
    width: 100%;
}

.comentarioPai {
    width: 97%;
}

.comentario {
    border: solid #29a32c 2px;
    margin-top: 10px;
    border-radius: 4px;
    font-size: 20px;
    padding-left: 10px;
    width: 100%;
}

.ultimoComentario {
    margin-bottom: 2em;
}

/*---------------------------------------------------------------*/

/*-------------------------Veterinários--------------------------*/

.mainVeterinarios {
    background: #54ff6597;
    display: flex;
}

.boxVeterinarios {
    width: 30%;
    padding: 0 20px 0 40px;
}

.tituloVeterinarios {
    margin-top: 2em;
    font-size: 30px;
    font-weight: bold;
    font-family: 'Bebas Neue', cursive;
}

.selecaoVeterinarios {
    display: flex;
    flex-direction: column;
    margin-top: 2em;
}

.tituloSelecaoVeterinarios {
    font-size: 22px;
    font-family: 'Bebas Neue', cursive;
    margin-top: 1em;
}

.selectVeterinarios {
    width: 78%;
    padding: 10px 10px;
    border-radius: 8px;
    border: 2px solid white;
    margin-top: 5px;
    font-size: 20px;
    font-family: 'Bebas Neue', cursive;
}

.informVeterinarios {
    width: 72%;
    padding: 10px 12px;
    border-radius: 8px;
    border: 2px solid white;
    margin-top: 5px;
    font-size: 21px;
    font-family: 'Bebas Neue', cursive;
}

.ultimoInput {
    margin-bottom: 1em;
}

.enviarVeterinarios {
    width: 78%;
    padding: 14px 0;
    background-color:#29a32c;
    color: white;
    font-weight: bold;
    font-size: 22px;
    border-radius: 20px;
    transition: 0.5s ;
    cursor: pointer;
    margin-top: 5px;
    margin-bottom:5em;
    border: 3px solid white;
}

.enviarVeterinarios:hover {
    background-color: darkgreen;
    transform: scale(1.05);
}

.veterinariosPai {
    display: flex;
    flex-direction: column;
    width: 70%;
    background: url(imagens/bg-home-vazio.jpg);
}

.veterinarios {
    height: 33.33%;
    border: solid white 2px;
    padding: 1em;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.nomeVeterinario {
    font-size: 40px;
    font-weight: bold;
    font-family: 'Bebas Neue', cursive;
}

.dadosVeterinarios {
    font-size: 26px;
    font-family: 'Bebas Neue', cursive;
    margin-top: 14px;
    margin-left: 10px;
    text-decoration: none;
    color: black;
    transition: 0.2s all;
}

.dadosVeterinarios:hover {
    color: white;
    cursor: pointer;
}

.avaliacao {
    font-size: 30px;
    margin-top: 20px;
    margin-left: 8px;
}

/*---------------------------------------------------------------*/

/*--------------------------Documentos---------------------------*/

.mainDocumentos {
    background: #54ff6597;
    display: flex;
}

.boxDocumentos {
    width: 40%;
    padding: 0 20px 0 40px;
}

.tituloDocumentos {
    margin-top: 2em;
    font-size: 30px;
    font-weight: bold;
    font-family: 'Bebas Neue', cursive;
}

.selecaoDocumentos {
    display: flex;
    flex-direction: column;
    margin-top: 2em;
}

.tituloSelecaoDocumentos {
    font-size: 22px;
    font-family: 'Bebas Neue', cursive;
    margin-top: 1em;
}

.selectDocumentos {
    width: 76%;
    padding: 10px 10px;
    border-radius: 8px;
    border: 2px solid white;
    margin-top: 5px;
    font-size: 20px;
    font-family: 'Bebas Neue', cursive;
}

.informDocumentos {
    width: 72%;
    padding: 10px 12px;
    border-radius: 8px;
    border: 2px solid white;
    margin-top: 5px;
    font-size: 21px;
    font-family: 'Bebas Neue', cursive;
}

.ultimoSelect {
    margin-bottom: 1em;
}

.enviarDocumentos {
    width: 76%;
    padding: 14px 0;
    background-color:#29a32c;
    color: white;
    font-weight: bold;
    font-size: 22px;
    border-radius: 20px;
    transition: 0.5s ;
    cursor: pointer;
    margin-top: 5px;
    margin-bottom:5em;
    border: 3px solid white;
}

.enviarDocumentos:hover {
    background-color: darkgreen;
    transform: scale(1.05);
}

.mapaDocumentos {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    width: 60%;
    background: url(imagens/bg-home-vazio.jpg) fixed;
    height: 800px;
}

.mapaPrincipal {
    width: 90%;
    height: 88%;
    border-radius: 6px;
    border: solid white 5px;
    margin: 30px 0 0 0;
}

.documentosNecessarios {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    width: 90%;
    margin-top: 30px;
    height: 150px;
    margin-bottom: 90px;
}

.documentosTitulos {
    font-family: 'Bebas Neue', cursive;
    font-weight: bold;
    font-size: 30px
}

.documentosElementos {
    font-family: 'Bebas Neue', cursive;
    font-size: 20px;
    margin-top: 10px;
}

/*---------------------------------------------------------------*/

/*-----------------------------MeuPet----------------------------*/

.mainMeupet {
    background: #54ff6597;
    display: flex;
}

.boxMeupet {
    width: 30%;
    padding: 0 20px 0 40px;
}

.tituloMeupet {
    margin-top: 2em;
    font-size: 30px;
    font-weight: bold;
    font-family: 'Bebas Neue', cursive;
}

.selecaoMeupet {
    display: flex;
    flex-direction: column;
    margin-top: 1em;
}

.tituloSelecaoMeupet {
    font-size: 22px;
    font-family: 'Bebas Neue', cursive;
    margin-top: 1em;
}

.selectMeupet {
    width: 78%;
    padding: 10px 10px;
    border-radius: 8px;
    border: 2px solid white;
    margin-top: 5px;
    font-size: 20px;
    font-family: 'Bebas Neue', cursive;
}

.informMeupet {
    width: 72%;
    padding: 10px 12px;
    border-radius: 8px;
    border: 2px solid white;
    margin-top: 5px;
    font-size: 21px;
    font-family: 'Bebas Neue', cursive;
}

.ultimoInputMeupet {
    margin-bottom: 1em;
}

.enviarMeupet {
    width: 78%;
    padding: 14px 0;
    background-color:#29a32c;
    color: white;
    font-weight: bold;
    font-size: 22px;
    border-radius: 20px;
    transition: 0.5s ;
    cursor: pointer;
    margin-top: 5px;
    margin-bottom: 1px;
    border: 3px solid white;
}

.ultimoInputEnviarSeupet {
    margin-bottom: 5em;
}

.enviarMeupet:hover {
    background-color: darkgreen;
    transform: scale(1.05);
}

.seupetPai {
    display: flex;
    flex-direction: column;
    width: 70%;
    background: url(imagens/bg-home-vazio.jpg);
}

.seupet {
    height: 22.33%;
    background-color: white;
    padding: 1em;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.seupet img {
    width: 16%;
    border-radius: 10px;
}

.fotoNome {
    display: flex;
    align-items: center;
    width: 100%;
}

.nomeSeupet {
    margin-left: 20px;
    font-size: 60px;
    font-weight: bold;
    font-family: 'Bebas Neue', cursive;
}

.seupetDados {
    display: flex;
    flex-direction: column;
    margin: 1em;
    padding: 1em;
    border: solid white 3px;
    border-radius: 10px;
}

.dadosSeupet {
    font-size: 30px;
    font-family: 'Bebas Neue', cursive;
    margin-top: 14px;
    margin-left: 10px;
    text-decoration: none;
    color: white;
    transition: 0.2s all;
}

.infosSeupet:hover {
    color: green;
}

/*---------------------------------------------------------------*/

/*--------------------------Responsive---------------------------*/

@media (max-width: 1920px) {
    /*--------------------------Login---------------------------*/

    .telaLogin {
        background: no-repeat url(imagens/bg-telainicial.jpg);
    }

    /*----------------------------------------------------------*/

    .seupet img {
        width: 17%;
    }
}

@media (max-width: 1800px) {
    /*--------------------------Login---------------------------*/

    .telaLogin {
        background: center url(imagens/bg-telainicial1800.jpg);
    }

    /*----------------------------------------------------------*/

    /*--------------------------Home----------------------------*/

    .mainHome {
    background: url(imagens/bg-home-vazio.jpg) fixed;
    }

    .todosPosts {
        background: none;
    }

    /*----------------------------------------------------------*/
}

@media (max-width: 1540px) {
    /*--------------------------Home----------------------------*/

    .mainHome {
        background: url(imagens/bg-home1500.jpg) no-repeat fixed;
    }

    .todosPosts {
        background: none;
    }

    /*----------------------------------------------------------*/

    /*------------------------Documentos------------------------*/

    .tituloDocumentos {
        font-size: 28px;
    }

    .informDocumentos {
        width: 71%;
    }

    /*----------------------------------------------------------*/

    .seupet img {
        width: 20%;
    }
}

@media (max-width: 1500px) {
    /*--------------------------Header---------------------------*/

    .CabecalhoLogo-Nav {
        text-align: center;
    }

    .cabecalho-link {
        padding: 1px 3em;
        color: white;
        text-decoration: none;
        display: block;
        text-transform: uppercase;
        font-family: 'Bebas Neue', cursive;
        font-size: 20px;
    }

    /*----------------------------------------------------------*/

    /*--------------------------Home----------------------------*/

    .mainHome {
        background: url(imagens/bg-home-vazio.jpg) fixed;
    }

    /*----------------------------------------------------------*/

    /*--------------------------Login---------------------------*/

    .telaLogin {
        background: center url(imagens/bg-telainicial1500.jpg);
    }

    .loginPrincipal {
        justify-content: center;
        align-items: center;
        flex-direction: column;
        text-align: center;
    }

    /*----------------------------------------------------------*/
}

@media (max-width: 1400px) {
    /*--------------------------Header---------------------------*/
    
    .CabecalhoLogo-Nav {
        text-align: center;
    }
    .cabecalho-link {
        padding: 1px 2em;
        color: white;
        text-decoration: none;
        display: block;
        text-transform: uppercase;
        font-family: 'Bebas Neue', cursive;
        font-size: 20px;
    }

    /*----------------------------------------------------------*/

    /*------------------------Documentos------------------------*/

    .informDocumentos {
        width: 70%;
    }

    /*----------------------------------------------------------*/
}

@media (max-width: 1150px) {
    /*--------------------------Header---------------------------*/

    .CabecalhoLogo-Nav {
        text-align: center;
    }
    .cabecalho-link {
        padding: 1px 1em;
    }

    /*----------------------------------------------------------*/

    /*--------------------------Login---------------------------*/

    .telaLogin {
        background: url(imagens/telainicial-vazio.jpg);
    }

    /*----------------------------------------------------------*/

    /*------------------------Documentos------------------------*/

    .informDocumentos {
        width: 69%;
    }

    .boxVeterinarios {
        width: 40%;
        padding: 0 20px 0 40px;
    }

    .veterinariosPai {
        width: 60%;
    }

    /*----------------------------------------------------------*/
}

@media (max-width: 920px) {
    /*------------------------Header---------------------------*/

    .CabecalhoLogo-Nav {
        flex-direction: column;
        text-align: center;
    }
    .cabecalho-nav {
        flex-direction: column;
        margin-bottom: 3em;
    }
    
    /*----------------------------------------------------------*/

    /*--------------------------Login---------------------------*/

    .paiLogin {
        display: flex;
        height: 80%;
        align-items: center;
    }

    .boxLogin {
        width: 500px;
        height: 600px;
    }

    .input-padrao {
        width: 450px;
    }
    
    .enviar {
        width: 450px;
    }

    /*----------------------------------------------------------*/

    /*--------------------------Home----------------------------*/

    .user {
        font-size: 30px;
    }
    .posts {
        width: 70%;
    }

    /*----------------------------------------------------------*/

    /*------------------------Documentos------------------------*/

    .mainDocumentos {
        flex-direction: column;
    }

    .boxDocumentos {
        width: 100%;
        padding: 0;
        display: flex;
        align-items: center;
        flex-direction: column;
    }

    .tituloDocumentos {
        text-align: center;
        width: 76%;
    }

    .selecaoDocumentos {
        text-align: center;
        width: 100%;
        display: flex;
        align-items: center;
    }

    .selectDocumentos {
        width: 76%;
    }

    .informDocumentos {
        width: 73%;
    }

    .enviarDocumentos {
        width: 76%;
        margin-bottom:1em;
    }

    .mapaDocumentos {
        width: 100%;
    }

    .mapaPrincipal {
        width: 92%;
        height: 400px;
        margin: 40px;
    }

    /*----------------------------------------------------------*/

    /*-----------------------Veterinários-----------------------*/

    .mainVeterinarios {
        flex-direction: column;
    }

    .boxVeterinarios {
        width: 100%;
        padding: 0;
        display: flex;
        align-items: center;
        flex-direction: column;
    }

    .tituloVeterinarios {
        text-align: center;
    }

    .selecaoVeterinarios {
        text-align: center;
        width: 100%;
        display: flex;
        align-items: center;
    }

    .enviarVeterinarios {
        margin-bottom: 1em;
    }

    .veterinariosPai {
        width: 100%;
    }

    /*----------------------------------------------------------*/

    /*--------------------------Meu Pet-------------------------*/

    .mainMeupet {
        flex-direction: column;
    }

    .boxMeupet {
        width: 100%;
        padding: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .tituloSelecaoMeupet {
        text-align: center;
    }

    .selecaoMeupet {
        width: 90%;
        align-items: center;
    }

    .seupetPai {
        width: 100%;
    }

    .ultimoInputEnviarSeupet {
        margin-bottom: 1em;
    }

    /*----------------------------------------------------------*/
}

@media (max-width: 500px) {
    /*--------------------------Login---------------------------*/

    .boxLogin {
        width: 370px;
        height: 500px;
    }
    .input-padrao {
        width: 320px;
    }
    .enviar {
        width: 320px;
    }

    /*----------------------------------------------------------*/

    /*--------------------------Home----------------------------*/

    .user {
        font-size: 30px;
    }
    .posts {
        width: 90%;
    }

    /*----------------------------------------------------------*/

    /*------------------------Documentos------------------------*/

    .mapaPrincipal {
        width: 90%;
        height: 350px;
        margin: 14px;
    }

    .informDocumentos {
        width: 70%;
    }

    /*----------------------------------------------------------*/
}

@media (max-width: 370px) {

    /*------------------------Header---------------------------*/
    
    .cabecalhoLogin p {
        font-size: 14px;
    }

    .loginLink {
        font-size: 16px;
    }

    /*----------------------------------------------------------*/
    
    /*--------------------------Login---------------------------*/
    
    .boxLogin {
        width: 250px;
        height: 500px;
    }

    h1 img {
        width: 230px;
    }

    .input-padrao {
        width: 160px;
    }

    .enviar {
        width: 200px;
    }
    
    /*----------------------------------------------------------*/
}